*{
    margin: 0%;
    padding: 
}
.bottom{
    background-color: grey;
    padding: 5px;
    margin: 1px;
    color: blue
    float

    .img{
     postion ab

    }
    .sign and login{
        position: relative;
        color: aqua;
    }
}
.mother{
    margin: 0%;
    width: 300px;

}
.upperpart{
    background-color: beige;
    padding: 10px;
    margin: 10px;
}
.lowerpart{
    font-size: 10px;
    background-color: rgb(51, 93, 108);
    border-bottom: 0pc;
    padding: 20px;
    margin: 10px;
}
